Flask==2.3.3  # फ्लास्क वेब फ्रेमवर्क - मुख्य वेब एप्लीकेशन फ्रेमवर्क
Flask-SQLAlchemy==3.1.1  # डेटाबेस इंटरेक्शन के लिए ORM (ऑब्जेक्ट रिलेशनल मैपिंग) टूल
Werkzeug==2.3.7  # यूटिलिटी लाइब्रेरी जो फ्लास्क का हिस्सा है, पासवर्ड हैशिंग के लिए उपयोग होता है
itsdangerous==2.1.2  # सिक्योर टोकन जेनरेशन और वेरिफिकेशन के लिए उपयोग होता है
Jinja2==3.1.2  # HTML टेम्प्लेट इंजन, फ्लास्क के साथ उपयोग होता है
email_validator==2.0.0  # ईमेल वैलिडेशन के लिए टूल
SQLAlchemy==1.4.23 